@model IEnumerable<PtixiakiReservations.Models.Reservations>

@{
    ViewData["Title"] = "Index";
}

<h1>My Reservations</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.people)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.people)
            </td>
            <td>
                <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@item.userId">@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>               
            </td>
        </tr>
}
    </tbody>
</table>
