@model IEnumerable<PtixiakiReservations.Models.Table>

@{
    ViewData["Title"] = "ListOfMyTables";

}
<h1>List Of My Tables</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.people)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.people)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Available == true)
                    {
                        <button class="btn btn-success"> <a asp-action="ChangeAvailable" asp-route-Flag="False" asp-route-ID="@item.ID"> Free </a></button>
                    }
                    else
                    {
                        <button class="btn btn-danger"> <a asp-action="ChangeAvailable" asp-route-Flag="True" asp-route-ID="@item.ID"> Not Free </a></button>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(function () {
            $('#t').bootstrapToggle();
        })
    </script>

}
