@model IEnumerable<PtixiakiReservations.Models.Table>

@{
    ViewData["Title"] = "ListOfMyTables";
}

<h1>List Of My Tables</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead> 
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.people)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.people)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
